<ion-content class="ion-padding">
  <div class="overlay" (click)="onClose()"></div>

  <ion-card>
    <ion-card-header>
        <ion-toolbar mode="ios">
            <ion-title class="title-card ion-no-padding">{{nombre}}</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="onClose()" class="close-card-button" slot="icon-only" color="primary" fill="clear">
                <ion-icon name="close" ></ion-icon>
              </ion-button>
            </ion-buttons>
        </ion-toolbar>
      
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row *ngFor="let prod of detalle">
          <ion-col size="3">
            <!-- <img-loader src="{{returnProduct(prod.producto_id).linkImagen}}" useImg></img-loader> -->
            <ion-img  [src]="returnProduct(prod.producto_id).linkImagen"></ion-img>

              <!-- <img src="{{returnProduct(prod.producto_id).linkImagen}}" alt=""> -->
          </ion-col>
          <ion-col size="6" class="ion-text-center">
              <h6>{{returnProduct(prod.producto_id).nombre}}</h6>
              <p>{{returnProduct(prod.producto_id).precio|currency}}</p>
          </ion-col>
          <ion-col size="3">
            <ion-label>
              <ion-button (click)="onAdd(returnProduct(prod.producto_id))" class="addbutton ion-no-margin ion-no-padding" shape="round" fill="outline" slot="icon-only">
                <ion-icon name="add"></ion-icon>
              </ion-button>
          </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

  </ion-card>

  

</ion-content>
