ion-content{
    --ion-background-color : transparent none !important;
    
}

// .show-modal{
//     --ion-background-color : transparent none !important;
    
// }


ion-card-header{
    margin-top: 1vh;

    padding: 0 0 0 0 !important;
    text-align: center !important;

    
}

.publicity1{
    max-width: 16vw;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6) !important;

  }

.action-button{
    --color: white;
    --background: #56BCC4;
    // padding-top: 8vw;
    // padding-bottom: 8vw;
    // margin-bottom: -1vw;
}

ion-card{
    position: absolute;
    z-index: 100;
    margin-top: 15vh !important;
    border-radius: 10px !important;
    // /* margin: auto !important; */
    // width: calc(100% - 171px) !important;
    // /* margin-right: 50%; */
    // /* margin-left: 50%; */
    // margin-left: 23% !important;

    width: 91vw !important;
    --background:white;


    margin-left: 0px !important;

    margin-right: 0px !important;
    
    .title-card{
        margin-top: 1vh;
        margin: auto;
    }
    
    .close-card-button{
        // margin-top: -6vh;
        margin-bottom: 0px;
        font-size: 1.1em;
        --ion-color-base: gray !important;
        
        // .button-ios{
        //     margin-top: -6vh;
        // }
    }
}

// .close-card-button.button-md{
//     margin-top: -8vh;
// }
// .close-card-button.button-ios{
//     margin-top: -6vh;
// }

ion-title{
    // margin-top: -2em;
    // margin-left: 2em;
    // padding-right: 2em;
}

.toolbar-background{
    // background: white;
}

.card-ios{
    border-radius: 10px !important;
}

.orderRectangle{
    // position: absolute;
    // z-index: 1000;
    width: 100%;
    // left: 0px;
    // bottom: 0em;
    background-color: #56c3c7;
    // height: 11vh;

    border-radius: 10px !important;

    // border-top-left-radius: 1em;
    // border-top-right-radius: 1em;
}
ion-select{
    max-width: 100% !important;
    // font-size: 1.5em;
    // padding: 1rem;
    border-width: 1px;
    border-style: solid;
    border-color: #56c3c7;
    border-radius: 0.5em;
}

[icon-only] ion-icon{
    font-size: 3.1em;

}