<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>
        Confirmación
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-list lines="none">
      <ion-item>
          <h2>Mi código es:</h2>
      </ion-item>
      
      <ion-item>
          <ion-label  mode="ios">
            {{credentials.phone}}
            <!-- <ion-buttons> -->
              <ion-button class="resend-button" fill="clear" (click)="sendsms()">REENVIAR</ion-button>
            <!-- </ion-buttons> -->
          </ion-label>
          
      </ion-item>
      
  </ion-list>
  <form  #form="ngForm" (ngSubmit)="sendOTP()">
    <ion-list class="ion-padding">
      <ion-item>
          <ion-input clearInput="true" [(ngModel)]="otp" name="otp" type="number" maxlength="6" placeholder="XXXXXX" required></ion-input>
    
      </ion-item>
      
    </ion-list>
    <ion-button type="submit" expand="block" [disabled]="form.invalid" shape="round" fill="solid" size="small" class="ion-padding continue-button">
      CONTINUAR
    </ion-button>
  </form>
  
  


</ion-content>
