<ion-header>
  <ion-toolbar mode="ios">
    <!-- <ion-buttons slot="start">
      <ion-button (click)="cancel()" *ngIf="!disabled">
        <ion-icon  slot="icon-only" name="close">
        </ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-title>Perfil</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="editData()" *ngIf="disabled">
        <ion-icon  slot="icon-only" name="create">
        </ion-icon>
      </ion-button>
      <ion-button (click)="save()" *ngIf="!disabled">
        <ion-icon  slot="icon-only" name="checkmark">
        </ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div id="profile-bg" [ngStyle]="{'background-image': 'url(' + '../../assets/imgs/background.jpg' +')'}"></div>
  <div id="content">
    <div id="profile-info" class="ion-padding">
      <img id="profile-image" src="../../assets/imgs/profile3.jpg" alt="">
      <h3 id="profile-name">{{name}} {{lastname}}</h3>
    </div>
    
  </div>
  <ion-list lines="none">
    <ion-item class="profile-field-block separator">
      <ion-label position="fixed">Nombre</ion-label >
      <ion-input [disabled]="disabled" [value]="name" clearInput="true" placeholder="Nombres"></ion-input>
    </ion-item>
    <ion-item class="profile-field-block separator">
      <ion-label position="fixed">Apellido</ion-label>
      <ion-input [disabled]="disabled" [value]="lastname" clearInput="true" placeholder="Apellido"></ion-input>
    </ion-item>
    <!-- <ion-item class="profile-field-block separator">
      <ion-label>{{'LOCATION_FIELD_TITLE' | translate}}</ion-label>
      <ion-input clearInput="true" placeholder="Text Input"></ion-input>
    </ion-item> -->
    <ion-item class="profile-field-block separator">
      <ion-label position="fixed">Teléfono</ion-label>
      <ion-input [disabled]="disabled" [value]="phone" type="tel" clearInput="true" placeholder="Text Input"></ion-input>
    </ion-item>
    <!-- <ion-item class="profile-field-block separator">
      <ion-label>{{'GENDER_FIELD_TITLE' | translate}}</ion-label>
      <ion-select placeholder="{{'NULL_FIELD_OPTION' | translate}}">
        <ion-select-option value="nes">{{'GENDER_MEN_FIELD_OPTION' | translate}}</ion-select-option>
        <ion-select-option value="n64">{{'GENDER_FEMALE_FIELD_OPTION' | translate}}</ion-select-option>
        <ion-select-option value="ps">{{'GENDER_OTHER_FIELD_OPTION' | translate}}</ion-select-option>
      </ion-select>  
    </ion-item> -->
    <ion-item class="ion-text-wrap">
      <ion-label position="fixed">Email</ion-label>
      <ion-input [disabled]="disabled" [value]="email" type="email" clearInput="true" item-content placeholder="Text Input"></ion-input>
    </ion-item>
    <!-- <ion-item class="ion-text-wrap separator">
      <ion-label>{{'EMAIL_FIELD_ACCEPT' | translate}}</ion-label>
      <ion-checkbox slot="end" color="secondary" checked="false"></ion-checkbox>    
    </ion-item> -->
    <!-- <ion-item class="profile-field-block">
      <ion-label>{{'PASSWORD_FIELD_TITLE' | translate}}</ion-label>
      <ion-input type="password" clearInput="true" item-content placeholder="Text Input"></ion-input>
    </ion-item> -->
    <!-- <ion-item class="ion-text-wrap separator">
        <p>{{'PASSWORD_FIELD_TEXT' | translate}}</p>
    </ion-item> -->

    <!-- <ion-item>
      <ion-button expand="block" (click)="signout()">
        CERRAR SESIÓN
      </ion-button>
    </ion-item> -->
  </ion-list>

  <ion-button expand="block" (click)="signout()">
    CERRAR SESIÓN
  </ion-button>
</ion-content>
<!-- <ion-footer>
  <ion-toolbar class="logout">
    

  </ion-toolbar>
</ion-footer> -->
