<!-- <ion-header>
  <ion-toolbar mode="ios">
    <ion-title>Confirmación de orden</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">
  <div class="overlay" (click)="onClose()"></div>

  <ion-card>
    <ion-card-header>
        <ion-toolbar mode="ios">
            <ion-title class="title-card ion-no-padding">Confirmación de orden</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="onClose()" class="close-card-button" slot="icon-only" color="primary" fill="clear">
                <ion-icon name="close" ></ion-icon>
              </ion-button>
            </ion-buttons>
        </ion-toolbar>
      
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col size="12" class="ion-align-self-center ion-text-center" >
              Codigo: 
              <h5>{{codigo}}</h5>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <p>Tiempo de entrega: {{tiempoTotal}} min.</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" class="ion-text-center">
                <p>Subtotal: {{subtotal | currency}}</p>
                <p>Delivery: {{costo_delivery | currency}}</p>
                <p>Total: {{total | currency}}</p>
            </ion-col>
            <ion-col size="6" class="ion-align-self-center">
              <ion-button (click)="deliveryAccepted()" shape="round" expand="block" size="small" color="success">Aceptar</ion-button>
              <ion-button (click)="cancelDelivery()" shape="round" expand="block" size="small" color="danger">Cancelar</ion-button>
            </ion-col>
          </ion-row>
          <ion-row >
            <ion-grid>
              <ion-row class="ion-justify-content-center">
                <ion-button fill="clear" expand="block"  (click)="toggleGroup(1)" [ngClass]="{active: isGroupShown(1)}">
                    Ver Pedido
                  <ion-icon   slot="end" [name]="isGroupShown(1) ? 'arrow-dropdown' : 'arrow-dropright'">
                  </ion-icon>
                </ion-button>
              </ion-row >
              <ion-row *ngIf="isGroupShown(1)" >
                <ion-grid>
                  <ion-row class="prod-estab" *ngFor="let prod of products">
                    <ion-col size="12">
                      <ion-row class="ion-justify-content-center">
                        <ion-col size="12" class="ion-align-self-center ion-text-center" >
                          Establecimiento: {{prod.establecimiento}}
                        </ion-col>
                      </ion-row>
                      <ion-row >
                        <ion-col class="ion-text-center" size="3">
                            <img  src="{{prod.linkImagen}}" alt="">
                            <p>{{prod.nombre}}</p>
                        </ion-col>
                        <ion-col class="ion-text-center" size="4">
                            
                            <p>{{prod.precio |currency}}</p>
                            <p>{{prod.descripcion}}</p>
                        </ion-col>
                        <ion-col class="ion-text-center" size="5" >
                            <p>{{prod.cant}} unidades</p>
                            <p>{{prod.precio * prod.cant | currency}}</p>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-row>
            </ion-grid>
          </ion-row>
          
        </ion-grid>

    </ion-card-content>

  </ion-card>

  

</ion-content>
