<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>{{product.nombre}}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="cart-button" (click)="onOpenShoppingCart()">
        <ion-badge  class="notifications-badge">{{currentNumber}}</ion-badge>
        <ion-icon class="cart-icon" slot="icon-only" name="cart">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
            <ion-col size="12" class="ion-no-padding">
                <img class="loader ion-text-centert" src="{{product.linkImagen}}" alt="" >

              <!-- <img-loader  class="loader" src="{{product.linkImagen}}" class="ion-text-centert" useImg></img-loader> -->
  
            </ion-col>
            
            
        </ion-row>
        <ion-row class="ion-justify-content-left">
            <h5 class="ion-no-margin">{{returnCategoryByID()}}</h5>
        </ion-row>
        <ion-row class="ion-justify-content-left">
            <h3 class="ion-float-left">{{product.nombre}}</h3>
        </ion-row>
        <div class="">
          <ion-row>
              <h4>${{product.precio}}</h4>
          </ion-row>
        </div>
        
        <ion-row>
          <p>{{product.descripcion}}</p>
        </ion-row>
      </ion-grid>
      
    

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row  class="addBlock ion-no-padding" >
      <ion-col size="6" class="ion-no-padding">
        <div class="addRmv">
          <ion-grid class="addRmvGrid ion-no-padding" >
            <ion-row>
              <ion-col class="ion-text-left ion-no-padding">
                  <ion-icon name="remove" (click)="decrement()">
                  </ion-icon>
              </ion-col>
              <ion-col class="ion-text-centert ion-no-padding">
                  {{currentProdNumber}}
              </ion-col>
              <ion-col class="ion-text-right ion-no-padding">
                  <ion-icon name="add" (click)="increment()">
                  </ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
          
      </ion-col>
      <ion-col size="6" class="ion-no-padding">
        <ion-button expand="block" (click)="onAdd()">AÑADIR AL PEDIDO</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>