.scroll-content {
    padding: 0 !important;
  }
  .ios ion-badge {
    color: #fff;
    position: absolute;
    // top: 0.5vh;
    // right: 4vw;
    border-radius: 100%;
    font-size: 0.88em;
    padding: 2px;
    top: 0px;
    right: 12px;
}
  
.md ion-badge {
    color: #fff;
    position: absolute;
    // top: 0.5vh;
    // right: 4vw;
    border-radius: 100%;
    font-size: 0.88em;
    padding: 2px;
    top: 5px;
    right: 16px;
}
    .back-button-icon{
        // color:white;
    }
    .back-button-text{
        // color:white;
    }
    .toolbar{
        min-height: 56px;
    
    }

    .logo{
        text-align: center;
        // margin-left: 3.4em;
        h4{
        //   color: white;
          margin-top: 0.8rem !important;
      
        }
      }
     
      
      
      .shopping-cart{
      
        font-size: 2.2em !important;
        // color: white;
      
      }
      
      .toolbar-background {
        // border-color: #191919;
        // background: #191919;
      }

    .box{
        border-top:1px solid gray;; 
        border-bottom: 1px solid gray;;
    }

    

    .prodSize{
        margin-bottom: 0px;
    }

    .addRmv{
        background-color: white;
        border-radius: 4px;
        height: 2.8em;
        font-size: 1.6rem;
        margin: 0.4rem 0.2rem;
        padding: 0 1em;
    }

    .addBlock{
        // background-color: #dcdcdc36;
    }

    .addRmvGrid{
            height: 100%;
            justify-content: center;
        
    }

    .loader{
      // img{
        width: 100vw;
      // }
    }