<ion-header>

  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="onClose()" fill="small" size="small" slot="icon-only">
         <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Ingreso</ion-title>
    
  </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <ion-grid class="ion-no-padding grid">
      <ion-row class="ion-no-padding ion-align-items-center ion-justify-content-center">
        <ion-col size="12" class="ion-no-padding ion-align-self-center ion-text-center">
            <img class="logo"  src="../../assets/imgs/logo.png" />

        </ion-col>
      </ion-row>
    </ion-grid>
    <form  #form="ngForm" (ngSubmit)="login()">
      <ion-list >
          <ion-item>
            <ion-label position="floating">Correo Electrónico</ion-label>
            <ion-input pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" clearInput="true" name="email" [(ngModel)]="credentials.email" min="0" max="50" required type="email" value=""></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input pattern=".{8,}" clearInput="true" name="password" [(ngModel)]="credentials.password" min="0" max="50" required type="password"></ion-input>
          </ion-item>
        
        </ion-list>
        <ion-button class="button-marker" expand="block" shape="round" type="submit" [disabled]="form.invalid" >Ingresar</ion-button>

    </form>
    <br>
    <br>
    <ion-row class="ion-align-items-center ion-justify-content-center" >
      <ion-col size="12" class="ion-text-center ">
          Si no tienes cuenta, 
          <ion-button class="ion-no-padding ion-no-margin register-button" (click)="openRegister()" fill="small" size="small" >Registrate</ion-button>

      </ion-col>
    </ion-row>
    
  </ion-content>
  