.logo{
    width: 40vw;
}


.register-button{
    // .button-inner{
        margin-top:-2.3vw; 
    // }
}

.button-marker{
    // --background: #56c3c7;
}

.invisibleButton {
    height:10px;
    width:6vw;
}
.grid{
    margin-top: 13vh;
    margin-bottom: 6vh;
}