.mypanel {
    background-color: white;
    color: #222;
  }
  
  .mypanel .title {
    background-color: white;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid white;
    text-align: center;
    /* padding-top: 10px; */
  }
  
  .mypanel .body {
    padding: 0px;
  }
  
  .mypanel .body.hidden {
    display: none;
  }

  .icon-arrow {
    display: inline-block;
    vertical-align: middle;
   }
   
   .text{
     display: inline-block;
     vertical-align: middle;
   }