<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="onClose()" class="invisibleButton" fill="small" size="small" slot="icon-only">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-grid class="ion-no-padding grid">
  <ion-row class="ion-no-padding  ion-align-items-center ion-justify-content-center">
    <ion-col size="12" class="ion-no-padding ion- align-self-center  ion-text-center">
        <img class="logo"  src="../../assets/imgs/logo.png" />
    </ion-col>
  </ion-row>
</ion-grid>
<form  #form="ngForm" (ngSubmit)="register()">
  <ion-list >
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input clearInput="true" name="name" [(ngModel)]="registerCredentials.name" maxlength="30" required type="text" value=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input clearInput="true" name="lastname" [(ngModel)]="registerCredentials.lastname" min="0" max="30" required type="text" value=""></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input clearInput="true" name="email" [(ngModel)]="registerCredentials.email" maxlength="30" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" min="0" max="50" required type="email" value=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input clearInput="true" name="phone" [(ngModel)]="registerCredentials.phone" maxlength="10" required type="tel" value=""></ion-input>
      </ion-item>
      <ion-item class="password-input-style">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input pattern=".{8,}" clearInput="true" name="password" [(ngModel)]="registerCredentials.password" maxlength="30" min="0" max="50" required type="password"></ion-input>
      </ion-item>
    
    </ion-list>
    <ion-button class="button-marker" expand="block" shape="round" type="submit" [disabled]="form.invalid"  >Registrar</ion-button>

</form>
</ion-content>
