.logo{
    width: 40vw;
}

.password-input-style{ 
    // .item-md{
        // border-bottom:  1px solid rgba(158, 158, 158, 0) !important;

    // }


}

// ion-item:last-child {
//     --border-width: 0 0 0 0 !important;
// }

// ion-item:last-child {   
//     .item-inner {
//         border-bottom: 0px;
//     }
// }

.button-marker{
    // --background: #56c3c7;
    // padding: 10vw;
}

.invisibleButton {
    height:10px;
    width:12vw;
}

.grid{
    // margin-top: 13vh;
    // margin-bottom: 6vh;
    margin-top: 40px;
    margin-bottom: 31px;
}