<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!edit">Nueva Dirección</ion-title>
    <ion-title *ngIf="edit">Editar Dirección</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="position: relative; height: 100%;">
    <form  #form="ngForm" (ngSubmit)="send()">
      <div class="orderRectangle" >
        <ion-grid class="orderGrid" >
          <ion-row class="ion-no-margin ion-no-padding">
            <ion-col size="12" class="ion-text-center ion-no-margin ion-no-padding">
              Ingresar datos de dirección
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center" >
            <ion-col size="12">
              <ion-item>
                <ion-label color="primary" stacked>Nombre</ion-label>
                <ion-input required [(ngModel)]="direccionData.nombre" name="nombre"  type="text" placeholder="Casa, trabajo, etc"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="12">
              <ion-item>
                <ion-label color="primary" stacked>Dirección</ion-label>
                <ion-input required [(ngModel)]="direccionData.direccion" name="direccion"  type="text" placeholder="Calle 1, Mz, Villa, etc"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div style="bottom: 1em;
      position: absolute;
      z-index: 1000;
      width: 100%;
      text-align: center;" >
        <ion-row class="ion-justify-content-center">
          <ion-col size="6" class="ion-align-self-center">
              <ion-button  (click)="closeModal()" expand="block" color="danger">Cancelar</ion-button>
          </ion-col>
          <ion-col size="6" class="ion-align-self-center">
              <ion-button  type="submit" [disabled]="form.invalid"  expand="block" color="secondary">Guardar</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </form>
    <agm-map 
      style="position: relative;"
      [zoom]="16"
      [latitude]="latt"
      [longitude]="lng"
      [streetViewControl]="false"
      [zoomControl]="false"
      [usePanning]="true"
      [streetViewControl]="false"
      [disableDefaultUI]="true"
      [disableDoubleClickZoom]="true"
      [clickableIcons]="false"
      [mapTypeId]="'roadmap'"
      [mapDraggable]="false"
    >
      <agm-marker 
      [latitude]="lat" 
      [longitude]="lng" 
      [animation]="'DROP'">
      <!-- <agm-info-window [isOpen]="true" class="ion-text-center" [disableAutoPan]="false">
          <p >Arrastra el marcador para seleccionar tu ubicación</p>
      </agm-info-window> -->
      </agm-marker>
    
    </agm-map>
  </div>

</ion-content>
