
    .returnButton{
        position: absolute; 
        z-index: 1000; 
        font-size: 1.3em;
        // top:-0.2em;
        // left: -0.1em;
        padding: 2em;
        // background-color: white;
        border-radius: 50%;
        border-width: 0.5rem;
        border-style: solid;
        // border-color: orange;
        // border-top-right-radius: 1em;
        // border-bottom-right-radius: 1em;
    }
    agm-map {
        // position: relative;
        height: 100%;
        a[href^="http://maps.google.com/maps"]{display:none !important}
        a[href^="https://maps.google.com/maps"]{display:none !important}

        .gmnoprint a, .gmnoprint span, .gm-style-cc {
            display:none;
        }
        .gmnoprint div {
            background:none !important;
        }
    }

    .scroll-content{
        padding: 0px !important;
    }

    .orderRectangle{
        // padding-left: 0.5em;
        position: absolute;
        z-index: 1;
        width: 90.5vw;
        left: 5vw;
        // top: 3vh;
        top:5vh;
        background-color: white;
        border-radius: 0.5em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }

    