<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>{{category.nombre}}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="cart-button" (click)="onOpenShoppingCart()">
        <ion-badge  class="notifications-badge">{{currentNumber}}</ion-badge>
        <ion-icon class="cart-icon" slot="icon-only" name="cart">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>
    <ion-col size="12" *ngFor="let estab of estabCat">
      <ion-card  class="ionCard" (click)="openProduct(estab)" >
        <div class="prod-div">
          <div class="thumbcontainer">
            <!-- <img class="prodImage ion-text-center"    src="{{estab.linkImagen}}" alt="  " > -->
            <!-- <img-loader (click)="openProduct(prod)"   src="{{prod.linkImagen}}" alt="  "  class="prodImage" text-center useImg></img-loader> -->
            <!-- <ion-thumbnail class="thumb"> -->
              <ion-img  [src]="estab.linkImagen"></ion-img>
            <!-- </ion-thumbnail> -->
            
          </div>
          <ion-row class="ion-align-items-center">
            <ion-col size="12">
              <h6 class="title ion-no-margin ion-text-center" >{{estab.nombre}}</h6>
              <!-- <p  class="price ion-no-margin" >{{prod.precio|currency}}</p> -->
            </ion-col>
          </ion-row>
        </div>
        
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
