.logo{
    text-align: center;
    // margin-left: 3.4em;
    h4{
    //   color: white;
        margin-top: 0.8rem !important;
    
    }
}
.thumbcontainer{
    border-bottom-left-radius: 10px !important;
}

.thumb{
    // --size:44.5vw;
    width: 85vw !important;
    height: 30vh;
    
}
.ionCard{
    text-align: center;
    text-align: -webkit-center;
    border: none !important;

    border-radius: 10px !important;
}

.prod-div{
    text-align: center;
    text-align: -webkit-center;
    img{
        // max-width: 38vw;
    }
}

.title{
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 18px;     /* fallback */
    max-height: 32px;      /* fallback */
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.price{
    font-size: 15px;
    font-weight: 300;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 18px;     /* fallback */
    max-height: 32px;      /* fallback */
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.ios ion-badge {
    color: #fff;
    position: absolute;
    // top: 0.5vh;
    // right: 4vw;
    border-radius: 100%;
    font-size: 0.88em;
    padding: 2px;
    top: 0px;
    right: 12px;
}
  
.md ion-badge {
    color: #fff;
    position: absolute;
    // top: 0.5vh;
    // right: 4vw;
    border-radius: 100%;
    font-size: 0.88em;
    padding: 2px;
    top: 5px;
    right: 16px;
}