<ion-header>

  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="onClose()">
        <ion-icon  slot="icon-only" name="close">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Compra Exitosa</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content class="ion-padding">

  <ion-row style="margin-top: 3vh;">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
            <img src="assets/imgs/compra_exitosa.png" style="width: 40vw;">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <h3>¡Compra Exitosa!</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <p>Orden: {{codigo}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <p>Total: {{total|currency}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <p>En unos minutos tendrás el tiempo y costo adicional de entrega.
            <br>
            Gracias por comprar con ¡Pronto!
          </p>
        </ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="onClose()" class="button-marker" expand="block" shape="round" >Aceptar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-row>

</ion-content>
