<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="favorito">{{favorito.nombre}}</ion-title>
    <ion-title *ngIf="estableciminto">{{estableciminto.nombre}}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="cart-button" (click)="onOpenShoppingCart()">
        <ion-badge  class="notifications-badge">{{currentNumber}}</ion-badge>
        <ion-icon class="cart-icon" slot="icon-only" name="cart">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>
    <ion-col size="6" *ngFor="let prod of ProdFav">
      <ion-card  class="ionCard" >
        <div class="prod-div">
          <div >
            <img class="prodImage ion-text-center" (click)="openProduct(prod)" src="{{prod.linkImagen}}" alt="  " >
            <!-- <img-loader (click)="openProduct(prod)" src="{{prod.linkImagen}}" alt="  "  class="prodImage" text-center useImg></img-loader> -->

            
          </div>
          <ion-row class="align-items-center">
            <ion-col size="8">
              <h6 class="title ion-no-margin ion-text-center" >{{prod.nombre}}</h6>
              <p  class="price ion-no-margin" >{{prod.precio|currency}}</p>
            </ion-col>
            <ion-col size="4">
              <ion-label>
                <ion-button (click)="onAdd(prod)" class="ion-no-margin ion-no-padding" shape="round" fill="outline" slot="icon-only">
                  <ion-icon name="add"></ion-icon>
                </ion-button>
              </ion-label>
            </ion-col>
          </ion-row>
        </div>
        
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
