<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button class="cart-button" (click)="onOpenShoppingCart()">
        <ion-badge class="notifications-badge">{{currentNumber}}</ion-badge>
        <ion-icon class="cart-icon" slot="icon-only" name="cart">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding card-background-page">
  <div class="infinite-border ion-no-margin ion-no-padding" >
    <ion-grid >
      <ion-row >
        <ion-grid class="ion-no-padding" >
          <ion-row>
            <ion-col  size="6">
              <p class="productListTitle  ion-no-margin">Publicidad</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-row>
    </ion-grid>
  </div>
  <ion-slides [options]="slideOptsPub" class="pub-1 jg-slider">
    <ion-slide *ngFor="let pub of publicidad1">
      <ion-card class="card-cat" (click)="openPublicity(pub)">
        <img class="publicity1" src="{{pub.linkImagen}}" alt="">
        <!-- <img-loader [imgAttributes]="imageAttributesPUB" src="{{pub.linkImagen}}" useImg></img-loader> -->

        <!-- <ion-img  [src]="pub.linkImagen"></ion-img> -->
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col >
        <p class="productCatTitle">Categorias</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-slides [options]="slideOptsCat"   class="pub-1 jg-slider2">
    <ion-slide *ngFor="let cat of categorias;let i = index;">
      <ion-card class="card-cat2" (click)="openCategory(cat)">
        <img  src="{{cat.linkImagen}}" alt="">
        <!-- <ion-thumbnail class="thumb"> -->
          <!-- <ion-img  [src]="cat.linkImagen"></ion-img> -->
          <!-- <img-loader [imgAttributes]="imageAttributes" src="{{cat.linkImagen}}" useImg></img-loader> -->

        <!-- </ion-thumbnail> -->
        <div class="overlay"></div>
        <!-- <div class="card-title">{{cat.nombre}}</div> -->
        <div *ngIf="detectSpaces(cat.nombre)" class="card-title">{{cat.nombre}}</div>
          <div *ngIf="!detectSpaces(cat.nombre)" class="card-title2">{{cat.nombre}}</div>
      </ion-card>
      
    </ion-slide>
    
  </ion-slides>
    
  
  <ng-container *ngFor="let fav of favoritos; let i=index; let even = even;">
    <ng-container *ngIf="even">
      <div class="infinite-border ion-no-margin ion-no-padding" >
        <ion-grid >
          <ion-row >
            <ion-grid class="ion-no-padding" >
              <ion-row>
                <ion-col  size="6">
                  <p class="productListTitle">{{favoritos[i].nombre}}</p>
                </ion-col>
                <ion-col size="6" class="watchAllproductList">
                  <p class="productListTitle2" (click)="openSeeMore(favoritos[i])">
                    Ver más
                  </p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-row>
        </ion-grid>
      </div>
      <div class="ion-no-margin ion-no-padding" >
        <ion-slides [options]="slideOptsFav"   class="pub-1 jg-slider ion-no-padding ion-no-margin">
          <ion-slide *ngFor="let prod of returnProductsFavs(favoritos[i].detalle)">
            <ion-card class="card-cat2" >
              <img (click)="openProduct(prod)" class="imgFav" src="{{prod.linkImagen}}" alt="">

              <!-- <img-loader src="{{prod.linkImagen}}" (click)="openProduct(prod)" useImg></img-loader> -->

              <ion-row class="ion-align-items-center">
                <ion-col size="8">
                  <h5 class="title ion-no-margin ion-text-center" >{{prod.nombre}}</h5>
                  <h6 class="title ion-no-margin ion-text-center" >{{returnProductEstab(prod)}}</h6>
                  
                  <p  class="price ion-no-margin" >{{prod.precio|currency}}</p>
                </ion-col>
                <ion-col size="4">
                  <ion-label>
                      <ion-button (click)="onAdd(prod)" class="addbutton ion-no-margin ion-no-padding" shape="round" fill="outline" slot="icon-only">
                        <ion-icon name="add"></ion-icon>
                      </ion-button>
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </div>
      <div class="infinite-border ion-no-margin ion-no-padding" >
        <ion-grid >
          <ion-row >
            <ion-grid class="ion-no-padding" >
              <ion-row>
                <ion-col  size="6">
                  <p class="productListTitle">{{favoritos[i+1].nombre}}</p>
                </ion-col>
                <ion-col size="6" class="watchAllproductList">
                  <p class="productListTitle2" (click)="openSeeMore(favoritos[i+1])">
                    Ver más
                  </p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-row>
        </ion-grid>
      </div>
      <div class="ion-no-margin ion-margin-bottom ion-no-padding" >
        <ion-slides [options]="slideOptsFav"   class="pub-1 jg-slider ion-no-padding ion-no-margin">
          <ion-slide *ngFor="let prod of returnProductsFavs(favoritos[i+1].detalle)">
            <ion-card class="card-cat2" >
              <img (click)="openProduct(prod)" class="imgFav" src="{{prod.linkImagen}}" alt="">
              <ion-row class="ion-align-items-center">
                <ion-col size="8">
                  <h5 class="title ion-no-margin ion-text-center" >{{prod.nombre}}</h5>
                  <h6 class="title ion-no-margin ion-text-center" >{{returnProductEstab(prod)}}</h6>
                  <p  class="price ion-no-margin" >{{prod.precio|currency}}</p>
                </ion-col>
                <ion-col size="4">
                  <ion-label>
                      <ion-button (click)="onAdd(prod)" class="addbutton ion-no-margin ion-no-padding" shape="round" fill="outline" slot="icon-only">
                        <ion-icon name="add"></ion-icon>
                      </ion-button>
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </div>
      <div class="infinite-border ion-no-margin ion-no-padding" >
        <ion-grid >
          <ion-row >
            <ion-grid class="ion-no-padding" >
              <ion-row>
                <ion-col  size="6">
                  <p class="productListTitle  ion-no-margin">Publicidad</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-row>
        </ion-grid>
      </div>
      <div class="ion-no-margin ion-no-padding" >
        <ion-slides [options]="slideOptsPub" class="pub-1 jg-slider">
          <ng-container *ngFor="let pub of publicidades">
            <ion-slide *ngIf="printPub(pub,i)">
                <ion-card class="card-cat" >
                  <img class="publicity1" (click)="openPublicity(pub)" src="{{pub.linkImagen}}" alt="">
                  <!-- <ion-img class="publicity1" [src]="pub.linkImagen"></ion-img> -->
                </ion-card>
              
            </ion-slide>

          </ng-container>
          
        </ion-slides>
      </div>
      

    </ng-container>
    
  </ng-container>
  
</ion-content>
