

.ios ion-badge {
    color: #fff;
    position: absolute;
    // top: 0.5vh;
    // right: 4vw;
    border-radius: 100%;
    font-size: 0.88em;
    padding: 2px;
    top: 0px;
    right: 12px;
}
  
.md ion-badge {
    color: #fff;
    position: absolute;
    // top: 0.5vh;
    // right: 4vw;
    border-radius: 100%;
    font-size: 0.88em;
    padding: 2px;
    top: 5px;
    right: 16px;
}

.publicity1{
    max-width: 91vw;
}





.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }
  
    .card-title {
        position: absolute;
        top: 36%;
        font-size: 30px;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }
    .card-title2 {
        position: absolute;
        top: 20%;
        font-size: 30px;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }
  
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  
  }

  .infinite-border{
    // margin: 0px -16px 1px -15px;
    margin: 0px -4vw 0.1vw -4.2vw;

}

.productListTitle{
    display: inline-block;
    margin-left: 3vw;
    margin-bottom: 0px;
}
.productListTitle2{
    display: inline-block;
    margin-right: 3vw;
    color: #25562C;
    margin-bottom: 0px;
}

.prodSlides{
    height: 50%;
}

.prodSlides.swiper-container{
    overflow: unset !important;
}

ion-content{
    background-color: gray;
}

// .productListTitle{
//     display: inline-block;
//     margin-left: 4vw;
// }

.watchAllproductList{
    text-align:right;
    display: inline-block;
    button{
        margin-right: 2vw;
    }
}

.thumb{
    // --size:44.5vw;
    width: 44.5vw !important;
    height: auto;
}

.thumb2{
    // --size:44.5vw;
    max-width: 100% !important;
    height: auto;
}

// .swiper-slide img {
//     width: 100% !important;
//     max-width: 100% !important;
//     height: auto !important;
//     max-height: 100% !important;
// }

.pub-1{
    // margin-bottom: 10px;
    // height: 40vh;
    

}
.pub-1.swiper-container{
    overflow: unset !important;
}

// .pub-1 .swiper-wrapper{
//         overflow: unset !important;
    

// }

.imgFav{
    max-height: 25vh !important;
    max-width: 91vw !important;
}

.productCatTitle{
    margin-bottom: 0px;
}



.jg-slider{
    // height: auto;
    // height: 30vh;
    // height: 198px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4) !important;
    border-radius: 8px;
  }

.jg-slider2{
    height: auto;
    // height: 30vh;
}

.card-cat{
    border-radius: 8px;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    width: 91vw !important;
    // height: 91vw !important;
    margin: 0 !important;
    h2{
        color: #FF3366;
    }
}

.card-cat2{
    border-radius: 8px;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    // width: 44.5vw !important;
    width: 90vw;
    // height: 91vw !important;
    margin: 0 !important;
    h2{
        color: #FF3366;
    }

    
}

.prod-div img{
    max-width: 100% !important;
}

.title{
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 18px;     /* fallback */
    max-height: 32px;      /* fallback */
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.price{
    font-size: 15px;
    font-weight: 300;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 18px;     /* fallback */
    max-height: 32px;      /* fallback */
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.addbutton{
    
}

ion-badge {
    color: #fff;
    position: absolute;
    top: 0px;
    // right: 0px;
    border-radius: 100%;
}
