.publicity1{
    img{
        width: auto !important;
        max-width: 100% !important;
        height: auto !important;
        max-height: 100% !important;

    }
    
}

.orderButton{
    .toolbar-content{
        // background-color: #FF3366;
        border-radius: 9px;
        // color: white;
    }

}