<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <!-- <ion-button (click)="onClose()">
        <ion-icon  slot="icon-only" name="close">
        </ion-icon>
      </ion-button> -->
    </ion-buttons>
    <ion-title>Carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card *ngFor="let prod of cartProds">
    
      <ion-card-content class="ion-no-padding">
        <!-- <ion-item> -->
          <ion-grid>
            <ion-row >
                <ion-col size="5">
                  <ion-row style="display: table-cell; vertical-align: middle;">
                    <ion-col size="12">
                      <img class="publicity1"  src="{{prod.product['linkImagen']}}">

                    </ion-col>

                  </ion-row>
                  <!-- <img-loader  src="{{prod.product['linkImagen']}}" alt="  "  class="publicity1" text-center useImg></img-loader> -->
  
                </ion-col>
                <ion-col size="5" >
                  <ion-row style="display: table-cell; vertical-align: middle;">
                    <ion-col size="12">
                      <ion-row >
                        <ion-col size="12" class="ion-no-padding">
                          <h2 style="font-weight: bold;">
                            {{prod.product["nombre"]}}
                            
                          </h2>
                        </ion-col>
                        
                              
                      </ion-row>
                      <ion-row >   
                        <ion-col size="12" class="ion-no-padding">
                          <h6 style="font-weight: 500;">
                            {{prod.product["nombreEstablecimiento"]}}
                        </h6>
                            
                        </ion-col>
                        
                          
                      </ion-row>
                      <ion-row >   
                        <ion-col size="12" class="ion-no-padding">
                          <p style="font-size: small !important;">
                            {{returnCategoryByID(prod.product)}}
                        </p>
                            
                        </ion-col>
                        
                          
                      </ion-row>
                      
                      <ion-row >
                        <ion-col size="12" class="ion-no-padding">
                          <p>{{prod.product["precio"]|currency}}</p>
    
                        </ion-col>
                        
                      </ion-row>
                    </ion-col>
                  </ion-row>
                  
                </ion-col>
                <ion-col size="2">
                  <!-- <p class="prodSize">{{item.prod.size}}</p> -->
                  <!-- <ion-grid class="addRmvGrid"> -->
                    <ion-row >
                      <ion-col size="12" >
                        <ion-row>
                          <ion-col style="text-align: center;" size="12">
                            <ion-button style="--padding-start:0px" fill="clear" size="small" (click)="onAdd(prod.product)">
                              <ion-icon name="add" slot="icon-only" >
                              </ion-icon>
                            </ion-button>
                              
                          </ion-col>
                              
                        </ion-row>
                        <ion-row>
                          <ion-col class="ion-text-center" size="12">
                            <div class="count">
                              <P>
                                {{prod.count}}
                              </P>
                                
                            </div>
                              
                          </ion-col>
                            
                        </ion-row>
                        <ion-row>
                          <ion-col style="text-align: center; padding-top: 7px;" size="12">
                            <ion-button style="--padding-start:0px" fill="clear" size="small" (click)="onAdd(prod.product)">
                              <ion-icon slot="icon-only" name="remove" (click)="onDelete(prod.product)">
                              </ion-icon>
                            </ion-button>
                              
                          </ion-col>
                            
                        </ion-row>

                      </ion-col>
                    </ion-row>
                      
                      
                  <!-- </ion-grid> -->
                </ion-col>
              
            </ion-row>
          </ion-grid>
        <!-- </ion-item> -->
        <!-- <ion-button  small color="secondary" (click)="getSingleProductDetail(product.products_id)">{{'View' | translate}}</ion-button>
        <ion-button  small clear color="danger" (click)="removeCart(product.cart_id);">{{'Remove' | translate}}</ion-button> -->
      </ion-card-content>
  
    </ion-card>

</ion-content>

<ion-footer >
    <!-- <ion-toolbar *ngIf="sugerenciaList2?.length>0">
      
        
    </ion-toolbar> -->
  <ion-toolbar>
    <ion-grid class="ion-no-padding">
      <!-- <ion-row *ngIf="sugerenciaList2?.length>0">
        <div class="infinite-border">
          <ion-row class="ion-no-padding">
              <ion-grid style="margin-bottom: -1em;" class="ion-no-padding">
                  <ion-row>
                    <ion-col size="12">
                        <p class="productListTitle">Te podría gustar...</p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
        
                <ion-slides spaceBetween="1"  slidesPerView="4.3" class="prodSlides">
                  <ion-slide *ngFor="let pr of sugerenciaList2; let i = index;">
                      <div class="prod-div" >
                          <img-loader  src="{{pr.link}}" alt="  " (click)="productDetail(pr,'')" width="20%" height="auto" text-center useImg></img-loader>
                          <h6 class="title" no-margin (click)="productDetail(pr,'')"  text-center>{{pr.name}}</h6>
                            <p  class="price" no-margin>{{pr.precio|currency}} <span >{{pr.size}}</span></p>
                          <ion-button (click)="onAdd(pr)" no-margin  small round outline class="addButton">
                            Agregar
                          </ion-button>
                      </div>
                  </ion-slide>
                </ion-slides>
          </ion-row>
      
        </div>

      </ion-row> -->
      <ion-row>
        <ion-col size="7">
          

        </ion-col>
        <ion-col size="5">
          <ion-grid class="ion-no-padding">
            <!-- <ion-row>
              <ion-col>
                  total:
              </ion-col>
              <ion-col>
                  {{cart.subtotal|currency}}
              </ion-col>
            </ion-row> -->
            <!-- <ion-row>
              <ion-col>
                  IVA:
              </ion-col>
              <ion-col>
                  {{cart.iva|currency}}
              </ion-col>
            </ion-row> -->
            <!-- <ion-row>
              <ion-col>
                  Envío:
              </ion-col>
              <ion-col>
                  {{1.99|currency}}
              </ion-col>
            </ion-row> -->
            <ion-row>
              <ion-col>
                  Total:
              </ion-col>
              <ion-col>
                {{cart.total|currency}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <ion-toolbar class="orderButton" class="ion-no-padding">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="12" class="ion-align-items-center">
              <ion-button [disabled]="emptyCart" shape="round" expand="block" (click)="checkOut()">Continuar</ion-button>
          </ion-col>
          
        </ion-row>
      </ion-grid>
    </ion-toolbar>
</ion-footer>
