.infinite-border{
    // margin: 0px -16px 1px -15px;
    margin: 0vw -4vw 0.1vw -4.2vw;

}

.pub-1{
    margin-bottom: 10px;
    // height: 40vh;
    

}
.pub-1.swiper-container{
    overflow: unset !important;
}

.jg-slider{
    height: auto;
}

.overlay {
    // position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4) !important;
    position: absolute;
    border-radius: 8px;
  }

.productListTitle{
    display: inline-block;
    margin-left: 4vw;
    margin-top: 0vw;
    margin-bottom: 1vw;
}

.productSearchTitle{
    display: inline-block;
    margin-left: 4vw;
    margin-top: 3vw;
    margin-bottom: 1vw;    
}

.productCatTitle{
    display: inline-block;
    margin-left: 0;
    margin-top: 3vw;
    margin-bottom: 1vw;    
}

.search-cat{
    padding: 0;
    .col{
        padding: 0 !important;
    }
    ion-card{
        margin-left: 0;
        margin-bottom: 2vw;
        width: 43vw;
    }
}

.swiper-container-android .swiper-slide{
    margin-right: 0vw !important;
}

.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }
  
    .card-title {
      position: absolute;
      top: 36%;
        font-size: 30px;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-title2 {
        position: absolute;
        top: 20%;
        font-size: 30px;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }
  
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  
  }

    .ios ion-badge {
        color: #fff;
        position: absolute;
        // top: 0.5vh;
        // right: 4vw;
        border-radius: 100%;
        font-size: 0.88em;
        padding: 2px;
        top: 0px;
        right: 12px;
    }
    
    .md ion-badge {
        color: #fff;
        position: absolute;
        // top: 0.5vh;
        // right: 4vw;
        border-radius: 100%;
        font-size: 0.88em;
        padding: 2px;
        top: 5px;
        right: 16px;
    }

.card-cat3{
    border-radius: 8px;
    background-color: transparent;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 44.5vw !important;
    // height: 20.5vw !important;
    margin: 0 !important;
    h2{
        color: #FF3366;
    }
}

.card-title {
    position: absolute;
    top: 36%;
    font-size: 30px;
    width: 100%;
    font-weight: bold;
    color: #fff;
}
.card-title2 {
    position: absolute;
    top: 20%;
    font-size: 30px;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

.ionCard{
    text-align: center;
    text-align: -webkit-center;
    border: none !important;

    border-radius: 10px !important;
}

.prod-div{
    text-align: center;
    text-align: -webkit-center;
    img{
        // max-width: 38vw;
    }
}

.title{
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 18px;     /* fallback */
    max-height: 32px;      /* fallback */
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.price{
    font-size: 15px;
    font-weight: 300;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 18px;     /* fallback */
    max-height: 32px;      /* fallback */
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.mas-buscados{
    border-radius: 64px;
}

// .slide-search{
//     // margin-right: 0px !important;
// }

// .swiper-slide{
//     margin-right: 0px !important;
// }