<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>Buscar</ion-title>
    <ion-buttons slot="end">
      <ion-button class="cart-button" (click)="onOpenShoppingCart()">
        <ion-badge  class="notifications-badge">{{currentNumber}}</ion-badge>
        <ion-icon class="cart-icon" slot="icon-only" name="cart">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
  <ion-searchbar 
    [(ngModel)]="myInput"
    cancelButtonText="Cancelar"
    showCancelButton="focus"
    animated
    type="search"
    placeholder="Buscar..."
    (ionInput)="onSearch($event)"
    (ionChange)="onSearch($event)"
    (ionCancel)="onCancel($event)" 
    (ionClear)="onCancel($event)"
    ></ion-searchbar>
  
</ion-header>

<ion-content class="card-backgshape ion-padding">

  <div class="infinite-border ion-no-margin ion-no-padding" *ngIf="searchingTop10SearchByUser && !searching">
    <ion-row>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col >
            <p class="productListTitle">Busquedas recientes</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
  </div>
  <div class="infinite-border ion-no-margin ion-no-padding" *ngIf="searchingTop10SearchByUser && !searching">
    <ion-slides [options]="slideOptsSearch" class="pub-1 jg-slider ion-no-padding ion-no-margin">
      <ion-slide class="slide-search ion-no-margin" *ngFor="let search of top10SearchByUser">
        <ion-button (click)="searchSelected(search)" shape="round" >
          {{search.palabra}}
        </ion-button>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="infinite-border ion-no-margin ion-no-padding" *ngIf="searchingTop10 &&!searching">
    <ion-row >
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col >
            <p class="productSearchTitle ion-no-margin">Más buscados</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-row>
  </div>
  <div class="infinite-border ion-no-margin ion-no-padding" *ngIf="!searching">
    <ion-slides [options]="slideOptsSearch" class="pub-1 jg-slider ion-no-padding ion-no-margin">
      <ion-slide class="slide-search ion-no-margin" *ngFor="let search of top10Search">
        <ion-button shape="round" (click)="searchSelected(search)">
          {{search.palabra}}
        </ion-button>
      </ion-slide>
    </ion-slides>
  </div>

  <ion-grid class="ion-no-padding" *ngIf="!searching">
    <ion-row>
      <ion-col >
        <p class="productCatTitle">Categorias</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="search-cat" *ngIf="!searching">
    <ion-row >
      <ion-col size="6" *ngFor="let cat of categorias">
        <ion-card class="card-cat3" (click)="openCategory(cat)">
          <img class="publicity1" src="{{cat.linkImagen}}" alt="">
          <div class="overlay"></div>
          <div *ngIf="detectSpaces(cat.nombre)" class="card-title">{{cat.nombre}}</div>
          <div *ngIf="!detectSpaces(cat.nombre)" class="card-title2">{{cat.nombre}}</div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="estabSearch">
    <ion-row >
      <ion-col size="12" *ngFor="let estab of establecimientos">
        <ion-card  class="ionCard" (click)="openEstab(estab)" >
          <div class="prod-div">
            <div >
              <img class="prodImage ion-text-center"    src="{{estab.linkImagen}}" alt="  " >
            </div>
            <ion-row class="ion-align-items-center">
              <ion-col size="12">
                <h6 class="title ion-no-margin ion-text-center" >{{estab.nombre}}</h6>
              </ion-col>
            </ion-row>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    
    
  </ion-grid>

    <ion-grid *ngIf="prodSearch">
      <ion-row >
        <ion-col size="6" *ngFor="let prod of products">
          <ion-card  class="ionCard" >
            <div class="prod-div">
              <div >
                <img class="prodImage ion-text-center" (click)="openProduct(prod)" src="{{prod.linkImagen}}" alt="  " >
              </div>
              <ion-row class="align-items-center">
                <ion-col size="8">
                  <h6 class="title ion-no-margin ion-text-center" >{{prod.nombre}}</h6>
                  <p  class="price ion-no-margin" >{{prod.precio|currency}}</p>
                </ion-col>
                <ion-col size="4">
                  <ion-label>
                    <ion-button (click)="onAdd(prod)" class="ion-no-margin ion-no-padding" shape="round" fill="outline" slot="icon-only">
                      <ion-icon name="add"></ion-icon>
                    </ion-button>
                  </ion-label>
                </ion-col>
              </ion-row>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>


  <ion-grid class="search-cat" *ngIf="catSearch">
    <ion-row >
      <ion-col size="6" *ngFor="let cat of categorias">
        <ion-card class="card-cat3" (click)="openCategory(cat)">
            <img class="publicity1" src="{{cat.linkImagen}}" alt="">
            <div class="card-title">{{cat.nombre}}</div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
