<ion-content class="ion-padding">
  <div class="overlay" (click)="onClose()"></div>

  <ion-card>
    <ion-card-header>
        <ion-toolbar mode="ios">
            <ion-title class="title-card ion-no-padding">!!HEY¡¡</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="onClose()" class="close-card-button" slot="icon-only" color="primary" fill="clear">
                <ion-icon name="close" ></ion-icon>
              </ion-button>
            </ion-buttons>
        </ion-toolbar>
      
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="12" class="ion-align-self-center ion-text-center" >
            <h5>Lo sentimos, pero estas fuera de la zona de alcance de Pronto Delivery.
              Gracias por su comprensión.
            </h5>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>