.accepted{
    color: green;
}
.canceled{
    color: red;
}

.card-cat{
    width: 85vw;
    -webkit-box-shadow: 0 3px 1px -2px rgba(37, 86, 44, 0.2), 0 2px 2px 0 rgba(37, 86, 44, 0.14), 0 1px 5px 0 rgba(37, 86, 44, 0.12) !important;
    box-shadow: 0 3px 1px -2px rgba(37, 86, 44, 0.2), 0 2px 2px 0 rgba(37, 86, 44, 0.14), 0 1px 5px 0 rgba(37, 86, 44, 0.12) !important;
}

.slide-title{
    font-size: 8px;
}

.slide-icon{
    margin: 0px;
}






