<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>Pedidos</ion-title>
  </ion-toolbar>
  <ion-toolbar >
    <ion-segment (ionChange)="segmentChanged()" [(ngModel)]="segment" >
      <ion-segment-button value="0">
        <ion-icon name="cube" class="slide-icon"></ion-icon>
        <p class="slide-title">En Progreso</p>
        
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-icon name="checkmark-circle" class="slide-icon"></ion-icon>
        <p class="slide-title">Completados</p>
        
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-icon name="close-circle" class="slide-icon"></ion-icon>
        <p class="slide-title">Cancelados</p>
        
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-slides #slides (ionSlideDidChange)="slideChanged()" scrollbar="true">
    <ion-slide>
      <ion-row >
        <ion-col size="12" >
          <ng-container *ngFor="let item of pedidos ;let i=index;">
            <ion-card class="card-cat" *ngIf="item.state == 'procesando' || item.state == 'DRCA' || item.state == 'DA' || item.state == 'TS' || item.state == 'DR'">
              <ion-grid>
                <ion-row class="ion-justify-content-center">
                  <ion-col size="12" class="ion-align-self-center ion-text-center" >
                    Codigo: 
                    <h5>{{item.codigo}}</h5>
                    <span class="accepted" *ngIf="item.state == 'DRCA'">En camino</span>
                    <span class="accepted" *ngIf="item.state == 'DA'">En Destino</span>
                    <!-- <span class="accepted" *ngIf="item.state == 'TS'">Aprobado por Establecimientos</span> -->
                    <span class="accepted" *ngIf="item.state == 'procesando' || item.state == 'TS'">Procesando</span>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                  <ion-col size="8">
                    Establecimientos: 
                    <h6 *ngFor="let pedido of item.pedidos">- {{pedido.establecimiento}}</h6>
                  </ion-col>
                  <ion-col size="4" class="ion-align-self-center">
                    Pedido: 
                    <p>{{item.cant}} productos.</p>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="item.state == 'procesando' || item.state == 'TS'" class="ion-justify-content-center ion-text-center">
                  <ion-col size="12" class="ion-align-self-center">
                    Dirección de entrega: 
                    <p>{{item.direccion.direccion}}</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6" class="ion-text-center" *ngIf="item.state == 'DRCA' || item.state == 'DA'">
                   <p>Dirección de entrega:</p>
                    <p>{{item.direccion.direccion}}</p>
                    <p style="font-weight: bold;">Tiempo de espera:</p>
                    <p style="font-weight: bold;">{{item.tiempo}} min.</p>
                  </ion-col>
                  <ion-col size="6" class="ion-text-center" *ngIf="item.state == 'DRCA' || item.state == 'DA'">
                      <p>Subtotal: {{item.subtotal | currency}}</p>
                      <p>Delivery: {{item.costo_delivery | currency}}</p>
                      <p>Total: {{item.total | currency}}</p>
                  </ion-col>
                  <ion-col size="6" class="ion-text-center" *ngIf="item.state == 'procesando' || item.state == 'TS' || item.state == 'DR'">
                      <p>Subtotal: {{item.subtotal | currency}}</p>
                      <p>Delivery: {{item.costo_delivery | currency}}</p>
                      <p >Total: {{item.total | currency}}</p>
                  </ion-col>
                  <ion-col size="6" *ngIf="item.state == 'procesando' || item.state == 'TS'" size="6" class="ion-align-self-center">
                       <ion-button  (click)="cancelOrder(item.id)" shape="round" expand="block" size="small" color="danger">Cancelar</ion-button>
                  </ion-col>
                  <ion-col size="6" class="ion-align-self-center" *ngIf="item.state == 'DR'">
                    <ion-button (click)="deliveryAccepted(item.id)" shape="round" expand="block" size="small" color="success">Aceptar</ion-button>
                    <ion-button (click)="cancelOrder(item.id)" shape="round" expand="block" size="small" color="danger">Cancelar</ion-button>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                  <accordion>
                      <group title="Ver más">
                        <ion-grid>
                          <ion-row class="prod-estab" *ngFor="let pedido of item.pedidos">
                            <ion-col size="12">
                              <ion-row class="ion-justify-content-center">
                                <ion-col size="12" class="ion-align-self-center ion-text-center" >
                                  Establecimiento: {{pedido.establecimiento}}
                                </ion-col>
                              </ion-row>
                              <ion-row *ngFor="let prod of pedido.products">
                                <ion-col class="ion-text-left" size="3">
                                    <img class="ion-margin"  src="{{prod.linkImagen}}" alt="">
                                </ion-col>
                                <ion-col class="ion-text-center" size="4">
                                    <p>{{prod.nombre}}</p>
                                    <p>{{prod.descripcion}}</p>
                                </ion-col>
                                <ion-col class="ion-text-center" size="5" >
                                    <p>{{prod.count}} unidades</p>
                                    <p>{{prod.precio | currency}}</p>
                                </ion-col>
                              </ion-row>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </group>
                    </accordion>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ng-container>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide>
      <ion-row >
        <ion-col size="12" >
          <ng-container *ngFor="let item of pedidos ;let i=index;">
            <ion-card class="card-cat" *ngIf="item.state == 'completo'">
              <accordionlist>
                <grouplist title="{{item.codigo}}">
                  <ion-grid>
                    <ion-row class="ion-justify-content-center">
                      <ion-col size="12" class="ion-align-self-center ion-text-center" >
                        Codigo: 
                        <h5>{{item.codigo}}</h5>
                        <span class="accepted" *ngIf="item.state == 'completo'">Completado</span>
                      </ion-col>
                    </ion-row>
                    <ion-row class="ion-justify-content-center">
                      <ion-col size="8">
                        Establecimientos: 
                        <h6 *ngFor="let pedido of item.pedidos">- {{pedido.establecimiento}}</h6>
                      </ion-col>
                      <ion-col size="4" class="ion-align-self-center">
                        Pedido: 
                        <p>{{item.cant}} productos.</p>
                      </ion-col>
                    </ion-row>
                    <ion-row *ngIf="item.state == 'procesando' || item.state == 'TS'" class="ion-justify-content-center ion-text-center">
                      <ion-col size="12" class="ion-align-self-center">
                        Dirección de entrega: 
                        <p>{{item.direccion.direccion}}</p>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6" class="ion-text-center">
                        <p>Dirección de entrega:</p>
                        <p>{{item.direccion.direccion}}</p>
                        <p style="font-weight: bold;">Tiempo de espera estimada:</p>
                        <p style="font-weight: bold;">{{item.tiempo}} min.</p>
                      </ion-col>
                      <ion-col size="6" class="ion-text-center" >
                          <p>Subtotal: {{item.subtotal | currency}}</p>
                          <p>Delivery: {{item.costo_delivery | currency}}</p>
                          <p>Total: {{item.total | currency}}</p>
                      </ion-col>
                    </ion-row>
                    <ion-row class="ion-justify-content-center">
                      <ion-grid>
                        <ion-row class="prod-estab" *ngFor="let pedido of item.pedidos">
                          <ion-col size="12">
                            <ion-row class="ion-justify-content-center">
                              <ion-col size="12" class="ion-align-self-center ion-text-center" >
                                Establecimiento: {{pedido.establecimiento}}
                              </ion-col>
                            </ion-row>
                            <ion-row *ngFor="let prod of pedido.products">
                              <ion-col class="ion-text-left" size="3">
                                  <img class="ion-margin"  src="{{prod.linkImagen}}" alt="">
                              </ion-col>
                              <ion-col class="ion-text-center" size="4">
                                  <p>{{prod.nombre}}</p>
                                  <p>{{prod.descripcion}}</p>
                              </ion-col>
                              <ion-col class="ion-text-center" size="5" >
                                  <p>{{prod.count}} unidades</p>
                                  <p>{{prod.precio | currency}}</p>
                              </ion-col>
                            </ion-row>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-row>
                  </ion-grid>
                </grouplist>
              </accordionlist>
            </ion-card>
          </ng-container>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide>
      <ion-row >
        <ion-col size="12" >
          <ng-container *ngFor="let item of pedidos ;let i=index;">
            <ion-card class="card-cat" *ngIf="item.state == 'cancelado'">
              <accordionlist>
                <grouplist title="{{item.codigo}}">
                  <ion-grid>
                    <ion-row class="ion-justify-content-center">
                      <ion-col size="12" class="ion-align-self-center ion-text-center" >
                        Codigo: 
                        <h5>{{item.codigo}}</h5>
                        <span class="canceled" *ngIf="item.state == 'cancelado'">Cancelado</span>
                      </ion-col>
                    </ion-row>
                    <ion-row class="ion-justify-content-center">
                      <ion-col size="8">
                        Establecimientos: 
                        <h6 *ngFor="let pedido of item.pedidos">- {{pedido.establecimiento}}</h6>
                      </ion-col>
                      <ion-col size="4" class="ion-align-self-center">
                        Pedido: 
                        <p>{{item.cant}} productos.</p>
                      </ion-col>
                    </ion-row>
                    <ion-row *ngIf="item.state == 'procesando' || item.state == 'TS'" class="ion-justify-content-center ion-text-center">
                      <ion-col size="12" class="ion-align-self-center">
                        Dirección de entrega: 
                        <p>{{item.direccion.direccion}}</p>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="12" class="ion-text-center" >
                          <p>Subtotal: {{item.subtotal | currency}}</p>
                          <p>Delivery: {{item.costo_delivery | currency}}</p>
                          <p >Total: {{item.total | currency}}</p>
                      </ion-col>
                    </ion-row>
                    <ion-row class="ion-justify-content-center">
                      <ion-grid>
                        <ion-row class="prod-estab" *ngFor="let pedido of item.pedidos">
                          <ion-col size="12">
                            <ion-row class="ion-justify-content-center">
                              <ion-col size="12" class="ion-align-self-center ion-text-center" >
                                Establecimiento: {{pedido.establecimiento}}
                              </ion-col>
                            </ion-row>
                            <ion-row *ngFor="let prod of pedido.products">
                              <ion-col class="ion-text-left" size="3">
                                  <img class="ion-margin"  src="{{prod.linkImagen}}" alt="">
                              </ion-col>
                              <ion-col class="ion-text-center" size="4">
                                  <p>{{prod.nombre}}</p>
                                  <p>{{prod.descripcion}}</p>
                              </ion-col>
                              <ion-col class="ion-text-center" size="5" >
                                  <p>{{prod.count}} unidades</p>
                                  <p>{{prod.precio | currency}}</p>
                              </ion-col>
                            </ion-row>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-row>
                  </ion-grid>
                </grouplist>
              </accordionlist>
            </ion-card>
          </ng-container>
        </ion-col>
      </ion-row>
      
    </ion-slide>
  </ion-slides>
  
  
  



</ion-content>
