agm-map {
    height: 100%;
    a[href^="http://maps.google.com/maps"]{display:none !important}
    a[href^="https://maps.google.com/maps"]{display:none !important}

    .gmnoprint a, .gmnoprint span, .gm-style-cc {
        display:none;
    }
    .gmnoprint div {
        background:none !important;
    }
}

.grid-direccion{
    position: relative;
}

.more-button{
    position: absolute;
    z-index: 1000;
    top: -8%;
    right: -72%;
}

.more-button2{
    position: absolute;
    z-index: 1000;
    top: -8%;
    right: -50%;
}


.data-card-selected{
    // border: 3px solid #FF3366;
    border-radius: 9px;
}
.data-card{
    border: 3px solid gray;
    border-radius: 9px;
}

.checkmark{
    font-size: 2.2em;
    // color: #FF3366;
}

.discount-code{
    // border: 3px solid #FF3366;
    border-radius: 9px;
    margin-top: 1.4em;


    p{
        margin: auto;
        /* margin-top: 0.5em; */
        /* margin-bottom: 0.5em; */
        /* margin-left: 0.7em; */
        // background-color: #FF3366;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
        padding-left: 0.3em;
        padding-right: 0.3em;
        color: white;
    }

    .text-input{
        margin: 0px;
        padding-left: 0.5em;
        padding-top: 0.3em;
    }

    
}

.toolbar-background {
    background: white;
}



.discount-label{
    color: white;
    // background-color: #FF3366;
    padding: 0px 0px 0px 12px;
}

.comments{
    border: 3px solid gray;
    border-radius: 9px;
}

.orderButton{
    // .toolbar-content{
        --background: gray;
        // border-radius: 10%;
        color: white;
    // }

}

.orderButtonEnabled{
    // .toolbar-content{
        --background: #2fb445;
        // border-radius: 9px;
        --color: white;
    // }

}

h4{
    font-weight: bold;
}

.family{
    font-weight: bold;
}

.buttonAddAddress{
    // color: black;
    .label{
        margin-bottom: 4px;
    }
}

.infinite-border{
    // margin: 0px -16px 1px -15px;
    margin: 0px -4vw 0.1vw -4.2vw;

}

// .prodSlides{
//     height: 50%;
// }

.pub-1{
    margin-bottom: 10px;
    // height: 40vh;
    .swiper-container{
        overflow: unset !important;
    }

}

.jg-slider{
    height: auto;
}


.card-cat2{
    border-radius: 8px;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    width: 10vw !important;
    // width: auto !important;
    height: 40vw !important;
    // margin: 0 !important;
    margin-right: 1vw;

    // position: absolute;
    // top: 50%;
    // -ms-transform: translateY(-50%);
    // transform: translateY(-50%);
    // h2{
    //     color: #FF3366;
    // }

    // display: inline-block;
//   vertical-align: middle;
    // top:50em;
    // line-height: 200px;

    display: table-cell;
vertical-align: middle;
}

.dir-add{
    margin-left: 1vw !important;
}

.radio-select{
    ion-label{
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    ion-radio{
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    // z-index: -1;
    

}

.select-row{
    margin-top: 0.1em;
    margin-bottom: -1.5em;
}

.card-cat3{
    border-radius: 8px;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    width: 90vw !important;
    // width: auto !important;
    height: 40vw !important;
    margin: 0 !important;

    // position: absolute;
    // top: 50%;
    // -ms-transform: translateY(-50%);
    // transform: translateY(-50%);
    // h2{
    //     color: #FF3366;
    // }

    // display: inline-block;
//   vertical-align: middle;
    // top:50em;
    // line-height: 200px;

    display: table-cell;
vertical-align: middle;
}

.addButton{
    // position: relative;
    text-align: center;
    display: table;
    margin: 0 !important;
}

.radio-ios .radio-icon{
    border-radius:50%;
    border-width: 2px;
    border-style: solid;
    border-color: orange;
    width: 1.4em;
    height: 1.4em;
}

.checkbox-md .checkbox-icon{
    border-radius: 50%;
}

.add-icon{
    color: #3171e0;
    font-size: 25px;
}

.check{
    --size: 15px;
}
