<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="onClose()">
        <ion-icon  slot="icon-only" name="arrow-back">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Checkout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h4>Dirección de envío</h4>
  <div class="infinite-border">
    <ion-slides [options]="slideDir"  class="pub-1 jg-slider" #addressSlide>

      <ion-slide class="addButton">
        <ion-grid>
          <ion-row>
            <ion-col size="2">
              <ion-card class="card-cat2" (click)="addNewDirection()">
                <!-- <ion-button class="ion-no-margin"  fill="clear" slot="icon-only" (click)="addNewDirection()"> -->
                  <ion-icon class="add-icon" name="add"></ion-icon>
                <!-- </ion-button> -->
              </ion-card>
            </ion-col>
            <ion-col *ngIf="dirArray?.length > 0">
              <ion-card class="card-cat3 dir-add" >
                
                <ion-grid class="grid-direccion">
                  <ion-row>
                    <ion-col size="4" class="ion-text-left ion-text-wrap">
                        <h3>{{dirArray[0].nombre}}</h3>
                      <p class="ion-no-margin">Dirección: {{dirArray[0].direccion}}</p>
                    </ion-col>
                    <ion-col size="7">
                      <agm-map 
      
                        [zoom]="16"
                        [latitude]="dirArray[0].lat"
                        [longitude]="dirArray[0].lng"
                        [mapDraggable]="false"
                        [streetViewControl]="false"
                        [zoomControl]="false"
                        [usePanning]="false"
                        [zoomControl]="false"
                        [disableDefaultUI]="true"
                        [disableDoubleClickZoom]="true"
                        [clickableIcons]="false"
                        [mapTypeId]="'roadmap'"
                        [styles]="styles"
                        >
                        <agm-marker
                        [latitude]="dirArray[0].lat" 
                        [longitude]="dirArray[0].lng"
                        [iconUrl]="iconMap"
                        >
  
                        </agm-marker>
                      </agm-map>
                    </ion-col>
                    <ion-col size="1">
                      <ion-label>
                        <ion-button  class="more-button"  slot="icon-only" fill="clear" (click)="dirPopover($event,dirArray[0])">
                          <ion-icon ios="md-more" md="md-more" ></ion-icon>
                        </ion-button>  
                      </ion-label>
                    </ion-col>
                  </ion-row>
                  <ion-row  class="ion-text-right">
                    <ion-col size="10"   >
                      <ion-label >Enviar a esta Dirección</ion-label>
                    </ion-col>
                    <ion-col size="1"   >
                      <ion-checkbox class="check"  [(ngModel)]="dirArray[0].selected" (click)="datachanged($event,dirArray[0])"></ion-checkbox>
                    </ion-col>
                    <ion-col size="1"   >
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
        
        
        
      </ion-slide>

      <ion-slide *ngFor="let item of dirArray | slice:1; let i = index;">
        <ion-grid>
          <ion-row>
            <ion-col size="12" >
              <ion-card class="card-cat3 dir-add" >
                <!-- <ion-button class="more-button"  slot="icon-only" fill="clear" >
                  <ion-icon ios="md-more" md="md-more"></ion-icon>
                </ion-button>   -->
                <ion-grid class="grid-direccion">
                  <ion-row>
                    <ion-col size="4" class="ion-text-left ion-text-wrap">
                        <h3>{{item.nombre}}</h3>
                      <p class="ion-no-margin">Dirección: {{item.direccion}}</p>
                    </ion-col>
                    <ion-col size="7">
                      <agm-map 
      
                        [zoom]="16"
                        [latitude]="item.lat"
                        [longitude]="item.lng"
                        [mapDraggable]="false"
                        [streetViewControl]="false"
                        [zoomControl]="false"
                        [usePanning]="false"
                        [zoomControl]="false"
                        [disableDefaultUI]="true"
                        [disableDoubleClickZoom]="true"
                        [clickableIcons]="false"

                        [mapTypeId]="'roadmap'"
                        [styles]="styles"
                        >
                        <agm-marker
                        [latitude]="item.lat" 
                        [longitude]="item.lng"
                        [iconUrl]="iconMap"
                        >
  
                        </agm-marker>
                      </agm-map>
                    </ion-col>
                    <ion-col size="1">
                      <ion-label>
                        <ion-button  class="more-button2"  slot="icon-only" fill="clear" (click)="dirPopover($event,item)">
                          <ion-icon ios="ios-more" md="md-more" ></ion-icon>
                        </ion-button>  
                      </ion-label>
                    </ion-col>
                  </ion-row>
                  <ion-row  class="ion-text-right">
                    <ion-col size="10"   >
                      <ion-label >Enviar a esta Dirección</ion-label>
                    </ion-col>
                    <ion-col size="1"   >
                      <ion-checkbox class="check"  [(ngModel)]="item.selected" (click)="datachanged($event,item)"></ion-checkbox>
                    </ion-col>
                    <ion-col size="1"   >
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
    </ion-slides>
  </div>
  <h4>Método de pago</h4>
  <ion-grid>
    <ion-row >
      <ion-col size="12">
        <ion-button style=" padding-left: 0px;   margin-left: auto; font-size: 14px;" class="ion-float-left"   fill="clear"  slots="end">Pago en efectivo
          <ion-icon name="cash" ></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <h4>Comentario</h4>
  <ion-textarea clearInput="true" class="comments" placeholder="Escribe cualquier comentario acerca de tu pedido" >
  </ion-textarea> -->

</ion-content>
<ion-footer >
  <ion-toolbar  *ngIf="ready">
    <ion-grid>
      <ion-row>
        <ion-col size="7" style="margin: auto;">
          Total: {{cart.total|currency}}
        </ion-col>
        <ion-col size="5" class="ion-no-padding">
          <ion-button class="orderButton"  disabled size="small" expand="block" shape="round" slots="end">
            Confirmar
            <ion-icon name="checkmark" ></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <ion-toolbar  *ngIf="!ready" (click)="placeOrder()">
    <ion-grid>
      <ion-row>
        <ion-col size="7" style="margin: auto;">
            Total: {{cart.total|currency}}
        </ion-col>
        <ion-col size="5" class="ion-no-padding">
            <!-- &nbsp;{{cart.total|currency}} -->
            <ion-button class="orderButtonEnabled"  size="small" expand="block" shape="round" slots="end">
                Confirmar
                <ion-icon name="checkmark" ></ion-icon>
            </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
